body {
  font-family: Arial;
  background-color: #66DBFA;
  padding: 50px;
}
.login {
  margin: 20px auto;
  width: 300px;
}
.login-screen {
  background-color: #FFF;
  padding: 20px;
  border-radius: 5px
}
.app-title {
  text-align: center;
  color: #66DBFA;
}
.login-form {
  text-align: center;
}
.control-group {
  margin-bottom: 10px;
}
input {
  text-align: center;
  background-color: #ECF0F1;
  border: 2px solid transparent;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 200;
  padding: 10px 0;
  width: 250px;
  transition: border .5s;
}
input:focus {
  border: 2px solid #3498DB;
  box-shadow: none;
}
.btn {
  border: 2px solid transparent;
  background: #A5ECFF;
  color: black;
  font-size: 16px;
  line-height: 25px;
  padding: 10px 0;
  text-decoration: none;
  text-shadow: none;
  border-radius: 3px;
  box-shadow: none;
  transition: 0.25s;
  display: block;
  width: 250px;
  margin: 0 auto;
}
.btn:hover {
  background-color: #30d0ff;
}
.login-link {
  font-size: 16px;
  color: #444;
  display: block;
  margin-top: 12px;
}
.error-message {
  background-color: #ff5858;
  color: white;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  margin: 10px;
}

