footer {
  background-color: #343a40; /* Cambiar el color de fondo */
  color: #fff; /* Cambiar el color del texto */
  padding: 20px; /* Cambiar el espacio acolchado */
  margin-top: 3em;
  width: 100%;
}
